/* 首屏动画样式 */

#app_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

#app_loading .spinner {
    width: 50px;
    height: 60px;
    text-align: center
}

#app_loading .spinner>div {
    display: inline-block;
    width: 6px;
    height: 100%;
    border-radius: 6px;
    background-color: #3e1ebd;
    -webkit-animation: stretchdelay 1.2s ease-in-out infinite;
    animation: stretchdelay 1.2s ease-in-out infinite
}

#app_loading .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

#app_loading .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

#app_loading .spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

#app_loading .spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes stretchdelay {

    0%,
    40%,
    to {
        -webkit-transform: scaleY(.4)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes stretchdelay {

    0%,
    40%,
    to {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}